<div *ngIf="message" class="alert alert-success">{{message}}</div>
<div *ngIf="error" class="alert alert-danger">{{error}}</div>

<div class="row">
  <div class="col-1">
    <a routerLink="/type/all"><fa name="chevron-left" size="2x"></fa></a>
  </div>
  <div class="col-11">
    <h1>Update type <span *ngIf="type">{{type.name}}</span></h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">

    <form name="partner_type" #updateType="ngForm" (ngSubmit)="onSubmit()">
      <div id="partner_type">
        <div class="form-group">
          <label for="partner_type1_name" class="form-control-label">Name <span class="text-danger">*</span></label>
          <input type="text" id="partner_type1_name" [(ngModel)]="type.name" name="name" required class="form-control" />
        </div>

        <div class="form-group">
          <div class="custom-file">
            <input type="file" (change)="onFileChanged($event)" id="partner_type1_imageFile" name="file" class="custom-file-input" />
            <label for="partner_type1_imageFile" class="custom-file-label">Image file</label>
          </div>
        </div>

        <div class="form-group">
          <label for="partner_type1_country" class="form-control-label">Country <span class="text-danger">*</span></label>
          <input type="text" id="partner_type1_country" [(ngModel)]="type.country" name="country" required class="form-control" />
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!updateType.form.valid">Save</button>
    </form>

  </div>
</div>
