<h1>Partners</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Country</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let partner of page.content | paginate: {itemsPerPage: 15 , currentPage: p, totalItems: page.totalElements }">
      <td>{{partner.id}}</td>
      <td>{{partner.name}}</td>
      <td>{{partner.email}}</td>
      <td>{{partner.phone}}</td>
      <td>{{partner.country}}</td>
      <td><a routerLink="/partner/{{partner.id}}">A</a></td>
    </tr>
  </tbody>
</table>

<a routerLink="/partner/create" class="btn btn-outline-success">Create</a>

<div>
  <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
</div>
