<div *ngIf="message" class="alert alert-success">{{message}}</div>
<div *ngIf="error" class="alert alert-danger">{{error}}</div>

<h1>Locations</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let location of locations">
      <td>{{location.id}}</td>
      <td>{{location.name}}</td>
      <td>
        <a routerLink="/location/{{location.id}}/update" class="text-success"><fa name="edit"></fa></a>
        &nbsp;
        <span (click)="deleteLocation(location)" class="fake-button text-danger"><fa name="trash-o" ></fa></span>
      </td>
    </tr>
  </tbody>
</table>

<a routerLink="/location/create" class="btn btn-outline-success">Create</a>
