<div *ngIf="message" class="alert alert-success">{{message}}</div>
<div *ngIf="error" class="alert alert-danger">{{error}}</div>

<div class="row">
  <div class="col-1">
    <a routerLink="/type/all"><fa name="chevron-left" size="2x"></fa></a>
  </div>
  <div class="col-11">
    <h1>Update type <span *ngIf="type">{{type.name}}</span></h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">

    <form name="partner_type" #updateType="ngForm" (ngSubmit)="onSubmit()">
      <div id="partner_type">
        <div class="form-group">
          <label for="partner_type1_name" class="form-control-label required">Name</label>
          <input type="text" id="partner_type1_name" [(ngModel)]="type.name" name="name" required class="form-control" />
        </div>

        <div class="form-group">
          <label for="partner_type1_country" class="form-control-label required">Country</label>
          <input type="text" id="partner_type1_country" [(ngModel)]="type.country" name="country" required class="form-control" />
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!updateType.form.valid">Save</button>
    </form>

  </div>
</div>
