<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<div *ngIf="message" class="alert alert-success">{{message}}</div>

<h1>Partner Requests</h1>

<table class="table">
  <thead>
  <tr>
    <th>Id</th>
    <th>Email</th>
    <th>Name</th>
    <th>Phone</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let request of requests">
    <td>{{request.id}}</td>
    <td>{{request.email}}</td>
    <td>{{request.name}}</td>
    <td>{{request.phone}}</td>
    <td>
      <a routerLink="/request/{{request.id}}/update" class="text-success"><fa name="edit"></fa></a>
      &nbsp;
      <span (click)="deleteRequest(request)" class="fake-button text-danger"><fa name="trash-o" ></fa></span>
    </td>
  </tr>
  </tbody>
</table>

<a routerLink="/request/create" class="btn btn-outline-success">Create</a>
